header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.page__header {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    color: white;
}
